html{
    box-sizing: border-box;
}

body{
    background: rgba(255, 193, 202, 0.4) url(Imagenes/fondo.png);
    background-size: 25px auto;
}

.index{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5; 
    z-index: 0;
    margin-right:280px ;
    background-color: rgba(211, 211, 211, .9);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px 50px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 20px rgba(255, 193, 202, 1); /* Interiror x y difuminado*/ /*, separa para poner mas de una sombra*/
}

.preparacion{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5; 
    z-index: 1;
    margin-right:140px ;
    background-color: rgba(211, 211, 211, .9);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px 50px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1); 
}

.ingredientes{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5; 
    z-index: 2;
    background-color: rgba(211, 211, 211, .9);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px 50px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1); 
}

.cafe{
    background-image: url(Imagenes/fondo\ cafe.jpg);
    height: 200px;
    width: auto;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100px;
}

span{
    position: absolute;
    right: 30px;
    top: 0px;
    
}

a{
    color: #4E342E;
    text-decoration: none;
}

a:visited{
    color:crimson;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: orange;
    background-color: lightgray;
}