html{
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 193, 202, 0.4);
}

.titulo{
    font-size: 40px;
    font-weight: bold;
    line-height: .5;
    color: #6c584c ;
    width: 210px;
    height: 32px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    position: relative;
}

.contenido{
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: black;
}

.relleno{
    font-size: 18px;
    font-weight: normal;
    line-height: .5;
    color: #3498DB;
}

.contenido{
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: black;
}

.index{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5; 
    z-index: 0;
    margin-right:140px ;
    background-color: rgba(211, 211, 211, 0.4);
    padding: 10px;
    border: 1px dashed gray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 8px lightgray; /* exterior x y difuminado espaciado*/
}

.ingredientes{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5; 
    z-index: 1;
    background-color: rgba(211, 211, 211, 0.4);
    padding: 10px;
    border: 1px dashed gray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 8px lightgray; 
}

span{
    position: absolute;
    right: 30px;
    top: 0px;
}

a{
    color: #4E342E;
    text-decoration: none;
}

a:visited{
    color:crimson;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: orange;
    background-color: lightgray;
}